<section class="header-section containerHero">
  <div class="header-icon-container">
    <svg class="header-icon">
      <use href="./img/logo.svg#Frame 770814"></use>
    </svg>
    <a href="index.html" class="header-title">Cinemania</a>
  </div>
  <ul id="header-links" class="header-link-container">
    <li><a href="index.html">HOME</a></li>
    <li><a class="catalog-button" href="category.html">CATALOG</a></li>
    <li><a href="mylibrary.html">LIBRARY</a></li>
  </ul>
  <div class="menu-button-div"><button class="menu-button">MENU</button></div>
  <div class="toggle-container">
    <div class="toggle-theme">
      <input type="checkbox" id="theme-toggle" />
      <label class="theme-toggle" for="theme-toggle">
            <span class="toggle-moon">
              <img class="toggle-moon-icon" src="public/sun.svg" width="13" height="13" alt="Güneş" />
            </span>
             <span class="toggle-sun">
              <img class="toggle-sun-icon" src="public/moon.svg" width="13" height="13" alt="Ay" />
            </span>
    
        <span class="toggle-slider"></span>
      </label>
    </div>
  </div>
  <div class="responsive-menu">
    <svg class="header-icon">
      <use href="./img/logo.svg#Frame 770814"></use>
    </svg>
    <ul id="header-links" class="header-link-container">
      <li><a href="index.html">HOME</a></li>
      <li><a class="catalog-button" href="category.html">CATALOG</a></li>
      <li><a href="mylibrary.html">LIBRARY</a></li>
    </ul>
  </div>
  <div class="responsive-overlay"></div>
</section>
