<section class="containerHero">
    <div id="heroMovies" class="hero-movies-container">

        <div id="movies-description-container">

        </div>
        <div id="movies-image-container">
            <img class="image" src="./img/2.jpg" alt="Koltuk" />
            <div class="gradient">
                <div style="margin:100px;">
        <h2 class="hero-movie-title">Create Your</h2>
        <h2 class="hero-movie-title">Dream Cinema</h2>
        <div class="stars-container" id="starsContainer"></div>
        <div class="desc-button-container">
            <p class="hero-movie-desc">Is a guide to designing a personalized movie theater experience with the right equipment, customized decor, and favorite
            films. This guide helps you bring the cinema experience into your own home with cozy seating, dim lighting, and movie
            theater snacks.</p>
        </div>
                
            </div>
            </div>
        </div>
    </div>
    <div id="modal"></div>

</section>



<!--
<section class="section-library-hero">
    <div class="container library-container">
        <div class="text-content">
            <p class="library-text hero-text">Create Your Dream Cinema</p>
            <p class="library-text">Is a guide to designing a personalized movie theater experience with the right equipment, customized decor, and favorite
            films. This guide helps you bring the cinema experience into your own home with cozy seating, dim lighting, and movie
            theater snacks.</p>
        </div>
        <div>
            <img src="/src/img/2.jpg" alt="read-seats" width="900" />
        </div>
    </div>
</section> -->