<section class="container">
  <select id="film-category" name="genres">
    <option class="film-category-option" value="">Select a genre</option>
  </select>
  <div id="catalog-movie-gallery" class="catalog-library-css"></div>

  <button class="load-more-button orange-button">Load More</button>
  <div class="empty-library-container">
    <p class="empty-library-title">OOPS...</p>
    <p class="empty-library-title">We are very sorry!</p>
    <p class="empty-library-title">We don’t have any results matching your search.</p>
  </div>
  <a href="../../category.html"
    ><button href="../../category.html" class="search-movie-button orange-button">
      Search Movie
    </button></a
  >
</section>
